<!DOCTYPE html>
<html ng-app="shop">
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body ng-controller="mainCtrl">
		{{aa}}
		{{sum(10,20)*5}}
		<span ng-bind="sum(10,20)"></span>
		<input type="text" ng-model="aa" />
		<input type="text" ng-model="bb" />
		<p>{{bb}}</p>
	</body>
	<script src="js/angular.min.js_1.5.8.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	//全局对象：angular里面自带ul一个全局对象（angular）类似于我们的window
	//全局对象可以使用全局函数以及全局变量。
	//全局函数：angular里面提供了很多内置的全局函数，供我们开发的时候使用
	
	//module函数的功能有两个：一是定义一个模块，二是获取一个已有的模块
		var app =angular.module("shop",[]);
		app.controller("mainCtrl",function ($scope) {

		//每一个控制器都自带一个scope
		//scope是一个对象。这个对象可以添加属性和方法
		$scope.aa=123;
		$scope.sum=function (num1,num2) {
			return num1+num2;
		}
		//数据绑定是angularjs得核心，angular提供了三种方式进行数据绑定。
		//方式1：使用{{}}，把变量直或者函数，或者表达式直接写在{{}}里面；
		//方式2：使用angularjs指令。即在开始标签里面添加一个ng-bind属性以及值；
		//方式3：使用angularjs指令。ngModel指令一般是配合input使用的
		})
	</script>
</html>
