<div ng-controller="checkoutCtrl">
	<h2>你的购物车</h2>
	<div "alert alert-warning" ng-show="result.length==0">这里没有商品<a href="#/prodcuts">点击这里返回购物</a></div>
	<table class="table table-striped" ng-hide="result.length==0">
		<thead>
			<th>商品名称</th>
			<th class="text-right">单价</th>
			<th class="text-center">数量</th>
			<th class="text-center">小计</th>
			<th class="text-center">删除</th>
		</thead>
		<tbody>
			<tr ng-repeat="product in result">
				<td>{{product.name}}</td>
				<td class="text-right">{{product.price|currency:"￥"}}</td>
				<td class="text-right">{{product.count}}</td>
				<td class="text-right">{{product.count*product.price}}</td>
				<td class="text-center"><button class="btn btn-default btn-danger" ng-click="delete(product)">删除</button></td>
			</tr>
		</tbody>
	</table>
</div>