*{ 
	margin: 0; 
	padding: 0;
}

html, body{
	height: 100%;
}

#loading_wrap{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	background: rgba(0,0,0,0.7);
	perspective: 150px;
	/*display: none;*/
}

#loading{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #F56471;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	font-size: 40px;
	text-align: center;
	color: white;
	line-height: 100px;
	animation: loading_rotate 2s infinite;
	transform: rotateY(0);
}

@keyframes loading_rotate{
	100%{
		transform: rotateY(360deg);
	}
}



.wrap{
	height: 100%;
}

#p1{
	height: 100%;
	background: url(../images/bg.jpg);
	background-size: 100% 100%;
	/*display: none;*/
}

.tiaozhan{
	position: absolute;
	left: 20.9375%;
	top: 12.5%;
	width: 70.46875%;
	animation-delay:0.8s;
}

.yingqu{
	position: absolute;
	left: 2%;
	top: 25.70422%;
	width: 98%;
}

.start_btn{
	position: absolute;
	left: 30.46875%;
	bottom: 21.56690%;
	width: 34.84375%;
}

.shou{
	position: absolute;
	left: 58.28125%;
	bottom: 24.207%;
	width: 13.75%;
	/*animation-iteration-count:infinite;
	animation-duration:1s;*/
	animation-direction: alternate;
}

.p1_btns_wrap{
	position: absolute;
	left: 4.6875%;
	bottom: 2.8415%;
	width: 90%;
}

.ranking{
	position: absolute;
	left: 6.18%;
	bottom: 4.866%;
	width: 20%;
}

.activity_rule{
	position: absolute;
	left: 27.59%;
	bottom: 4.778%;
	width: 20.3125%;
	z-index: 8;
}

.prize{
	position: absolute;
	left: 49.46875%;
	bottom: 4.778%;
	width: 20.3125%;
	z-index: 8;
}

.shiyong{
	position: absolute;
	left: 71.5%;
	bottom: 4.778%;
	width: 20.625%;
	z-index: 8;
}



.user_data_mask{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 10;
	display: none;
}

.close{
	position: absolute;
	right: 13.59375%;
	top: 13.845%;
	width: 6.6875%;
}

.user_data_wrap{
	position: absolute;
	top: 19.63%;
	left: 13%;
	width: 74%;
	height: 44%;
	background: url(../images/p1_from.png);
	background-size: 100% 100%;
}

.user_name{
	position: absolute;
	left: 12.711%;
	top: 33.5%;
	width: 72%;
	height: 14%;
	border: 2px solid #e33145;
	border-radius: 10px;
	padding-left: 2%;
	font-size: 16px;
	color: black;
	background: #f2bb00;
	outline: none;
}

.user_tel{
	position: absolute;
	left: 12.711%;
	top: 50.5%;
	width: 72%;
	height: 14%;
	border: 2px solid #e33145;
	border-radius: 10px;
	padding-left: 2%;
	font-size: 16px;
	color: black;
	background: #f2bb00;
	outline: none;
}

.sub{
	position: absolute;
	left: 23.5%;
	top: 69%;
	width: 54.85%;
	height: 17.2%;
	border: none;
	outline: none;
	background: url(../images/p1_sub.png);
	background-size: 100% 100%;
}


.activity_rule_mask{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 10;
	display: none;
}

.rule_wrap{
	position: absolute;
	left: 13.59375%;
	top: 19.71%;
	width: 65.4375%;
	border: 2px solid #e33145;
	border-radius: 10px;
	background: #ffead1;
	padding: 15px;
	max-height: 60%;
	overflow: scroll;
}

.rule_wrap h2{
	text-align: center;
	padding: 10px 0;
}
.rule_wrap p{
	font-size: 14px;
	margin: 20px 0;
}

.prize_mask{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 10;
	display: none;
}

.prize_wrap{
	position: absolute;
	left: 13.59375%;
	top: 19.71%;
	width: 65.4375%;
	border: 2px solid #e33145;
	border-radius: 10px;
	background: #ffead1;
	padding: 15px;
	max-height: 60%;
	overflow: scroll;
}

.prize_wrap h2{
	text-align: center;
	padding: 10px 0;
}
.prize_wrap p{
	font-size: 14px;
	margin: 20px 0;
}


.shiyong_mask{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 10;
	display: none;
}

.shiyong_wrap{
	position: absolute;
	left: 13.59375%;
	top: 19.71%;
	width: 65.4375%;
	border: 2px solid #e33145;
	border-radius: 10px;
	background: #ffead1;
	padding: 15px;
	max-height: 60%;
	overflow: scroll;
}

.shiyong_wrap h2{
	text-align: center;
	padding: 10px 0;
}
.shiyong_wrap p{
	font-size: 14px;
	margin: 20px 0;
}





#p2{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../images/bg2.png);
	background-size: 100% 100%;
	overflow: hidden;
	display: none;
}

.kuang{
	position: absolute;
	top: 12.676%;
	left: 8%;
	width: 84%;
}

.p2_txt{
	position: absolute;
	left: 15%;
	top: 15.052%;
	width: 70%;
}

.qian_wrap{
	position: absolute;
	left: 20.625%;
	top: 54.419%;
	width: 59.375%;
}

.p2_qian{
	width: 100%;
}

.p2_zhuan{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.p2_shou{
	position: absolute;
	right: 2%;
	bottom: 20%;
	width: 35.2%;
}

#count_down{
	position: absolute;
	top: 32.83%;
	width: 100%;
	text-align: center;
}

.number{
	display: inline-block;
	width: 10.9375%;
	font-size: 20px;
	color:white;
	background: url(../images/p2_scoring.png);
	background-size: 100% 100%;
	padding: 20px 0;
}

.clock{
	display: inline-block;
	font-size: 22px;
	color: #bf986b;
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin-left: 5px;
	background: url(../images/shizhong.png);
	background-size: 100% 100%;
}

.p2_qian_moved{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	animation: qian_move 1s 1;
}

@keyframes qian_move{
	0%{
		opacity: 1;
		transform: translate3d(0,0,0) scale(1);
	}
	100%{
		opacity: 0;
		transform: translate3d(0,-500px,0) scale(0.2);
	}
}


#p3{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../images/p3_bg.jpg);
	background-size: 100% 100%;
	display: none;
}

.p3_acquire{
	position: absolute;
	top: 13.38%;
	left: 16.1%;
	width: 69.68%;
}

#result_num{
	text-align: center;
	color: white;
	font-size: 50px;
	position: absolute;
	width: 100%;
	top: 23%;
}

#result_txt{
	position: absolute;
	left: 0;
	top: 35%;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: white;
}

.result_rank{
	position: absolute;
	left: 10%;
	width: 80%;
	padding: 3% 0;
	background: white;
	border-radius: 10px;
	text-align: center;
	top: 40%;
	font-size: 14px;
	color: #d21026;
}

.p3_again{
	position: absolute;
	left: 15.9%;
	bottom: 27.11%;
	width: 27.8%;
}
.p3_share_btn{
	position: absolute;
	right: 15.9%;
	bottom: 27.11%;
	width: 27.8%;
}

.ranking_mask{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 10;
    display:none;
}

.ranking_wrap{
	position: absolute;
	top: 19.63%;
	left: 13.28125%;
	width: 57.99375%;
	height: 40.387%;
	background: url(../images/ranking_bg.png);
	background-size: 100% 100%;
	padding: 14.8% 7.8% 8.688%;
}

.ranking_wrap ul{
	list-style: none;
	overflow: scroll;
	height: 100%;
}
.ranking_wrap li{
	border-bottom: 1px dashed #999;
	padding-bottom: 8px;
	padding-top: 16px;
	font-size: 14px;
	width: 100%;
	box-sizing: content-box;
}
.ranking_wrap li span{
	vertical-align: top;
	line-height: 44px;
	display: inline-block;
}

.username {
    padding-left:10%;
    width:40%;
}

.point{
	width:40%;
}

.rank{
	width: 21px;
	height: 44px;
	text-align: center;
	font-size: 14px;
}
.ranking_wrap li:nth-child(1) .rank{
	background: url(../images/p1_first.png) center center no-repeat;
	-webkit-background-size: 80%;
	background-size: 80%;
	
}
.ranking_wrap li:nth-child(2) .rank{
	background: url(../images/p1_second.png) center center no-repeat;
	-webkit-background-size: 80%;
	background-size: 80%;
}
.ranking_wrap li:nth-child(3) .rank{
	background: url(../images/p1_third.png) center center no-repeat;
	-webkit-background-size: 80%;
	background-size: 80%;
}
